extends ../layout


block content
    h1 Login

    form(action="/login/" method="POST")
        input(type="hidden" name="next" value=redirectUrl)
        input(type="text" name="username" placeholder="username" required)
        input(type="password" name="password" placeholder="password" required)

        input(type="submit" value="login")

    ul
        li
            a(href="/auth/facebook") 페이스북 로그인
        li
            a(href="/auth/kakao") 카카오 로그인
