header#header
    h1 Header

    h2 Menu
    ul
        li
            a(href="/") home
        li posts
            ul
                li
                    a(href="/posts/") lists
                li
                    a(href="/posts/new/") new
        li
            a(href="/chat/") chat
