extends ../layout


block content
    h1 Sign Up

    form(action="/signup/" method="POST")
        input(type="text" name="username" placeholder="username" required)
        input(type="password" name="password" placeholder="password" required)
        input(type="password" name="password_confirmation" placeholder="password confirmation" required)

        input(type="submit" value="signup")
