header
    h1 Header

    ul
        if user
            li
                a(href="/mypage") #{user.username}
            li
                a(href="/logout") 로그아웃
        if !user
            li
                a(href="/signup") 회원가입
            li
                a(href="/login") 로그인
