doctype html
html
    head
        title Node.js Real-Time Stock Price
        script(src="https://code.jquery.com/jquery-1.12.4.min.js")
        script(src="https://cdn.socket.io/socket.io-1.4.5.js")
        script(src="/static/js/application.js")
    body
        h1 Real-Time Stock Price
