extends ../base


block page_javascript
    script(src="/static/js/posts.js")


block content
    h1 Posts

    ul(id="posts")

    form(action="" method="")
        input(type="text" name="title" placeholder="제목" required)
        input(type="text" name="content" placeholder="본문" required)
        input(type="submit" value="글 쓰기")
