doctype html
html
    head
        title Express Backend Programming
        link(rel="stylesheet" href="/static/css/style.css")
    body
        include ./partials/header
        != messages()
        block content
        include ./partials/footer
