extends ./base


block content
    h1 Home
    p This is home.
    p Welcome, #{name}.

    h2 Chat
    ul#chat
        li === Start of Chat ===

    form()
        input(type="text" name="content" placeholder="Chat Message" required)
        input(type="submit" value="chat")
