extends ./layout


block content
    section#chat
        h1 Chat

        ul
            li === 채팅 시작입니다 ===

        form
            input(type="text" name="content")
            input(type="submit" value="chat")
