doctype html
html
    head
        link(rel="stylesheet" href="/static/css/application.css")
        script(src="https://code.jquery.com/jquery-1.12.4.min.js")
        script(src="https://cdn.socket.io/socket.io-1.4.5.js")
        script(src="/static/js/chat.js")
    body
        include ./partials/header

        if flash
            ul
                each value, key in flash
                    li(class=key)= value

        section#content
            block content
        include ./partials/footer
