doctype html
html
    head
        link(rel="stylesheet" href="/static/css/application.css")
    body
        include ./partials/header

        if flash
            ul
                each value, key in flash
                    li(class=key)= value

        section#content
            block content
        include ./partials/footer
