doctype html
html
    head
        title Nodecamp with Authentication
        link(rel="stylesheet" href="/static/css/application.css")
    body
        include ./partials/header
        include ./partials/messages
        block content
        include ./partials/footer
