header
  h1 Header

  ul
      li
          a(href="/") 홈
      if (!user)
          li
              a(href="/signup/") 회원가입
          li
              a(href="/login/") 로그인
      if (user)
          li
              a(href="/logout/") 로그아웃
