extends ../base


block content
    h1 Posts

    ul
        each post in posts
            li
                h2
                    a(href="/posts/" + post._id) #{post.title}
                p #{post.content}
