h1 New Post
p Create a new post.


form(action="/posts/" method="POST")
    input(type="text" name="title" placeholder="제목")
    textarea(type="text" name="content" placeholder="본문")
    input(type="submit" value="글 작성하기")
