header
    h1 Header
    ul
        li
            a(href="/") Home
        li
            a(href="/about/") About
        li
            a(href="/zigbang/3456789/") Zigbang Example
        if !user
            li
                a(href="/signup/") signup
            li
                a(href="/login/") login
        if user
            li
                a(href="/logout/") logout
