doctype html
html
    head
        link(rel="stylesheet" href="/css/application.css")
    body
        include ./partials/header
        include ./partials/messages
        block content
        include ./partials/footer
