extends ./base


block content
    h1 Watcha
    p 총 #{newsItems.length} 개의 영화 뉴스가 있습니다.

    ul
        each newsItem in newsItems
            li
                img(src=newsItem.image width="100%")
                h2 #{newsItem.title}
                p #{newsItem.content}
