extends base


block content
    h1 posts:detail

    section
        h2 Simple socket.io example
        form(id="simple-chat-form")
            input(type="text" name="message" id="message" placeholder="message")
            input(type="submit")

        h2 Simple chat history
        ul#simple-chat-history
            li -------------- Start of chatting --------------


block javascript
    script(src="/static/js/chat.js")
