h1 유저 등록하기
p 새로운 유저를 등록해서 db.csv 에 추가합니다.


form(method="post")
    input(type="text" name="name" placeholder="Name")
    input(type="email" name="email" placeholder="Email")
    input(type="submit" value="등록")
