header
    h1 Header

    ul
        li
            a(href="/") Home
        li
            a(href="/signup/") Sign Up
        li
            a(href="/login/") Login
        li
            a(href="/logout/") Logout
