header
    h1 Header

    ul
        li
            a(href="/") Home
        if !user
            li
                a(href="/signup/") Sign Up
            li
                a(href="/login/") Login
        if user
            li
                a(href="/logout/") Logout
