extends ../base


block content
    h1 New Post

    form(action="/posts/" method="POST")
        input(type="text" name="title" placeholder="제목" required)
        textarea(name="content")

        input(type="submit" value="submit" required)
