extends ../layout


block content
    h1 Posts List
    a(href="/posts/new/") New Post

    ul#posts

    form#posts-form
        input(type="text" name="title")
        input(type="text" name="content")
        input(type="submit" value="publish")
