extends ../layout


block content
    h1 Posts List
    a(href="/posts/new/") New Post

    ul
        each post in posts
            li
                h2= post.title
                p= post.content
