doctype html
html
    head
        link(rel="stylesheet" href="/css/application.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="https://cdn.socket.io/socket.io-1.4.5.js")
        script(src="/js/socket.js")
    body
        include ./partials/header
        include ./partials/messages
        block content
        include ./partials/footer
