doctype html
html
    head
        title nodecampus
        link(rel="stylesheet" href="/static/css/application.css")
    body
        include ./partials/header
        block content
        include ./partials/footer
