doctype html
html
    head
        title Nodecamp
        include ./partials/stylesheets
        include ./partials/javascripts
    body
        include ./partials/header
        block content
        include ./partials/footer
