h1 New User
p Create a new user with name, email
form(method="post")
    input(name="name" type="text" placeholder="name")
    input(name="email" type="email" placeholder="email")
    input(type="submit" value="등록")
